header{
    position: sticky;
    top: 0;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    height:8vh;
    width: 100%;
    border-bottom: 0.5vmin gray solid;
    z-index: 2;
}

body ::selection{
    background-color: darkgreen;
    color: white;
}

nav a{
    color: green;
}

section {
    max-height: inherit;
    max-width: inherit;
}

nav a:hover{
    color: darkgreen;
}

.page:not(.logo){
    line-height: 4vh;
    width: 13vw;
    padding-left: 1%;
    padding-right: 1%; 
    font-size: 3.3vmin;
}

.page:link{
    color: white;
    text-decoration: none;
}

.page:hover{
    text-decoration: underline;
}   

.page:visited{
    color: white;
}

.logo{
    margin-top: auto;
    margin-bottom: auto ;
    max-width: 9vw;
    max-height: 7vh;
}

.logo img{
    max-height: inherit;
    max-width: inherit;
}

article{
    padding: 1% 8%;
    margin: 5vh 3vw;
    border: 0.5vmin solid darkgray;
    text-align: left;
    word-wrap: break-word;
    font-size: large;
    clear:left;
}

h1{
    font-size: 7vmin;
}

h2{
    font-size: 5.1vmin;
}

.planta {
    margin: 2% 0px;
}

h1, h2, dt, h3 {
    font-family: "Source Serif Pro", 'Times New Roman', Times, serif;
}
p, figcaption, a, ol, ul, dd{
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 253, 253);
    margin: 0 0;
    min-height: 100vh;
    max-width: 100vw;
}

img {
    display: inline-block;
}

#clorofila img{
    max-width: 60vw;
    max-height: 60vh;
}

#clorofila {
    display: block;
    float:left;
}

#cearense{
    height: 90%;
    width: 90%;
    display: block;
}

.efeito{
    animation: rodar 6s linear 0s infinite;
    width: 60%;
    display: block;
}

#cursed{
    margin: 0;
    display: grid;
    grid-template:
    "rotate1 main rotate2"
        ". text ." / 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#cursed figcaption{
    grid-area: text;
}

dt, h3{
    font-size: x-large;
    font-weight: bold;
}
/*leo*/
#fogo{
     color: rgb(120, 31, 31);
}
#rocks{
    width: 30vw;
    height: 22vh;
    float: right;
    clear: left;
}

.particula{
    position: fixed;
    transition: all 5s linear;
    
}

@keyframes rodar {
    from {transform: rotateZ(1turn);}
  to {transform: rotateZ(2turn);}
}